@model IEnumerable<SpeedRacer.Models.detalle_factura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.num_comprobante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.num_comprobante)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetalle_venta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetalle_venta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetalle_venta })
        </td>
    </tr>
}

</table>
